@import url(font-awesome.min.css);

body{
	margin: 0px;
}
.hero{
	background-image: url("../image/overlay.png"), url("../image/banner.jpg");
	background-size: cover;
	padding: 8em 0 6em 0;
	background-color: #f4f4f4;
	color: white;
	text-align: center;
	text-transform: uppercase;
	line-height: 0.5em;
	top: 0;
	bottom: 0;
	height: 90vh;
	background-position: center center;
	z-index: -10;

}

h1{
	
	font-weight: bold;
	font-family: "Raleway", Helvetica, sans-serif;
	font-size: 40px; 
	line-height: 1.0em;
	padding-top: 7.5%;
}

p{
	padding-top: 1%;
	font-family: "Raleway", Helvetica, sans-serif;
	font-size: 20px;
	padding-bottom: 2%; 
}
.container{
	width: 100%;
	margin: auto;
}

.overlay{
	position: absolute;  
	background-color: rgba(0, 0, 0, 0.5);
	
	top: 0;
	bottom:0;
	height: 100%;
	width: 100%;
	z-index: -5;
}

.button{

	background-color: 	#008080;
	font-family: "Raleway", Helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 15px;
	color: white;
	border: none;
	width: 180px;
	height: 60px;
	border-radius: 30px;
}
.button:hover{
	background-color: white;
	color:#008080 ;
	border:1px solid;
	border-color: #008080
}

.button1:hover{
	background-color: white;
	color:#008080 ;
	border:1px solid;
	border-color: #008080
}






.button1{

	background-color: 	#008080;
	font-family: "Raleway", Helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 15px;
	color: white;
	border: none;
	width: 160px;
	height: 50px;
	border-radius: 30px;
}


.new1{
	padding: 45px;
}


.new{
	padding: 20px;
}

.header{
	background-color: black;
	color: white;
	border-top: 5px black solid;
}

.header h1{
	padding-top: 15px;
	padding-bottom: 30px;
	text-transform: uppercase;
	font-family: "Raleway", Helvetica, sans-serif
}
.newcontainer{
	width: 95%;
	margin: auto;
}
.newcontainer1{
	width: 80%;
	margin: auto;
}

.translate h2{
	text-align: center;
	text-transform: uppercase;
	font-size: 20pt;
	font-family: "Raleway", Helvetica, sans-serif;
	padding-top: 40px;
	padding-bottom: 40px;

}



.form-group{
	float: left;
	width:50%;
	
}



.form-group textarea {
	width: 80%;
	padding: 20px;
	font-family: "Raleway", Helvetica, sans-serif;
	font-size: 13pt;
	font-style: bold; 
	border-radius: 10px;
	



}



a{
	color: inherit;
	text-decoration: none;
}

.newbody{
	background-image: url("../image/sadrobot.png");
	height: 50vh;
	background-repeat: no-repeat;
	background-position: center;
}

.error{
	text-align: center;
	font-family: "Raleway", Helvetica, sans-serif;
	font-style: bold;
}