<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>The sonia:Landing Page</title> 
		<link rel="stylesheet" type="text/css" href="../static/css/style.css">
		<script type="text/javascript" src="{{url_for('static', filename='hello.js') }}"></script>
	</head>
	<body>
		<div class="hero">
			
				<div class="container">
				<div class="overlay"></div>
					<div class="box-1">
					<h1>Hi! I am Sonia</h1>
					<p>Translate English to French at the press of a button</p>
					</div>
				</div>
				<input class="button" onclick="location.href='http://127.0.0.1:5000/translator'" type="button" value="Translate Now">
			</div>
		
	</body>
</html>