<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Translator</title>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
	<div class="header">
		<div class="newcontainer">
			<h1><a href="http://127.0.0.1:5000">The Sonia</a></h1>
		</div>
	</div>
	<div class="newcontainer1">
		
		<div class="translate">
			<h2>Translate now!</h2>
		</div>

		<div class="form-group">
		<form action="http://127.0.0.1:5000/translator" method="GET" >
			<textarea name="english" id = "result"   readonly="true" 
			rows="8">{{english}}</textarea>
			
		</form>
		</div>

		<div class="form-group">
		<form action="http://127.0.0.1:5000/translator" method="GET">
			<textarea name="french"  rows="8" readonly="true">{{french}}</textarea>
		</form>
		</div>

		<input class="button1" onclick="location.href='http://127.0.0.1:5000/translator'" type="Submit" value="Back">

	</div>

</body>
</html>